<nav class="nav collapsible">
  <a href="/" class="nav__brand">
    <img src="/images/logo.svg" alt="menu" />
  </a>

  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#growth"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item">
      <a href="#"></a>
      Host
    </li>
    <li class="nav__item">
      <a href="#"></a>
      VPS
    </li>
    <li class="nav__item">
      <a href="#"></a>
      Domain
    </li>
    <li class="nav__item">
      <a href="#"></a>
      Pricing
    </li>
  </ul>
</nav>
