<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img src="images/testimonial.jpg" alt="Happy smiling customer." />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#settings"></use>
        </svg>
      </span>
    </div>
    <div>
      <blockquote class="quote">
        <p class="quote__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias
          aliquam facere omnis dignissimos iste sapiente doloribus quidem
          voluptates error est?
        </p>
        <footer>
          <div class="media">
            <div class="media__image">
              <svg class="icon icon--primary quote__line">
                <use xlink:href="images/sprite.svg#easy"></use>
              </svg>
            </div>
            <div class="media__body">
              <h3 class="media__title quote__author">
                Tharaka Dissanayake
              </h3>
              <p class="quote__organization">
                ABC Company
              </p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
